.input{
    width: 352px;
    border-radius: 8px;
    border: none;
    padding: 10px 16px;
    background-color: #F3F5F6;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #737380;
    padding-right: 2rem;
}

.div {
    position: relative;
    width: 350px;
    background-color: #F3F5F6;
    border-radius: 8px;
}
  
.icon {
    position: absolute;
    right: 0.5rem;
    pointer-events: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 100%;
}
  