.navbar {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.link {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}